<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>404</title>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/layui/layui.js"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layadmin-tips" style="margin-top: 30px;text-align: center;">
            <i class="layui-icon" face="" style="font-size:  300px;"></i>
            <div class="layui-text" style="width: 500px;margin: 30px auto;padding-top: 20px;border-top: 5px solid #009688;font-size: 16px;">
                <h1 style="font-size: 100px;line-height: 100px;color: #009688;">
                    <span class="layui-anim layui-anim-loop layui-anim-">4</span>
                    <span class="layui-anim layui-anim-loop layui-anim-rotate" style="display: inline-block;">0</span>
                    <span class="layui-anim layui-anim-loop layui-anim-">4</span>
                </h1>
            </div>
        </div>
    </div>
</body>
</html>