@{
    Layout = "~/Views/Shared/include/_Layout.cshtml";
}
<div class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so demoTable">
            @*<input class="layui-input" placeholder="开始日" name="start" id="start">
                <input class="layui-input" placeholder="截止日" name="end" id="end">*@
            <input type="text" name="username" id="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i></button>
        </div>
    </div>
    <xblock class="demoTable">
        <button class="layui-btn layui-btn-danger" data-type="delAll"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_this_show_btn('添加用户','/Admin/GuestUser/Change',600,700,false,reload)"><i class="layui-icon"></i>添加</button>
        <button class="layui-btn" onclick="x_admin_this_show('批量添加用户','/Admin/GuestUser/BatchAdd',800,650,false,reload)"><i class="layui-icon"></i>批量添加</button>
        <button class="layui-btn" onclick="reload()"><i class="layui-icon layui-icon-refresh" style="font-size: 14px;"></i>刷新</button>
        @*<span class="x-right" style="line-height:40px">共有数据：88 条</span>*@
    </xblock>
    <table id="layui-table" class="layui-table" lay-filter="userTable">
        <thead>
            <tr></tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" onclick="x_admin_this_show_btn('添加用户','/Admin/GuestUser/Change/{{d.UserID}}',600,700,false,reload)">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-clipboard-text="{{d.UserID}}" data-clipboard-demo="" data-clipboard-action="copy">复制</a>
</script>
<script id="createTime" type="text/html">
    {{#
            var date = new Date();
            date.setTime(d.CreateTime);
            return date.Format("yyyy-MM-dd hh:mm:ss");
    }}
</script>
<script>


    function reload() {
        layui.table.reload("userTable")
    }
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


    });
    layui.use('table', function () {
        var table = layui.table;
        var $ = layui.$;
        table.render({
            elem: '#layui-table'
            , method: "post"
            , url: '/Admin/GuestUser/GetList'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                { field: 'UserID', type: 'checkbox', fixed: 'left' }
                , { field: 'FullName', title: '姓名' }
                , { field: 'UserAccount', title: '用户名' }
                //, { field: 'NickName', title: '昵称' }
                //, { field: 'Gender_toString', title: '性别', sort: true, width: 80 }
                , { field: 'Email', title: '邮箱' }
                , { field: 'Mobile', title: '手机' }
                , { field: 'CreateTime_toString', title: '注册时间', sort: true }
                , { field: 'right', align: 'center', toolbar: '#barDemo' }
            ]]
            , id: 'userTable'
            , page: {
                limit: 20 //重新从第 1 页开始
            }, where: {
                Name: $('#username').val(),
                Status: true
            }
            , done: function (res, curr, count) {
                set_bus_type();
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                //console.log(res);

                //得到当前页码
                //console.log(curr);

                //得到数据总量
                //console.log(count);
            }
        });
        //监听工具条
        table.on('tool(userTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                x_admin_confirm('确认要删除吗？', function (index) {
                    active.delFun(data.UserID);
                });
            }

        });
        var active = {
            reload: function () {
                var username = $('#username');

                //执行重载
                table.reload('userTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        Name: username.val(),
                        Status: 1
                    }
                });
            },
            getCheckData: function () { //获取选中数据
                var checkStatus = table.checkStatus('userTable')
                    , data = checkStatus.data;
                var ids = [];
                for (var i = 0; i < data.length; i++) {
                    ids.push(data[i].UserID)
                }
                if (ids.length > 0) {
                    return ids;
                } else {
                    x_admin_alert("请选择一项或多项")
                }
                return ids;
            },
            delAll: function () {
                var ids = active.getCheckData();
                if (ids.length > 0) {

                    x_admin_confirm('确认要删除吗？', function (index) {
                        active.delFun(ids.join(","));
                    });
                }
            }
            , delFun: function (ids) {
                if (ids) {
                    var obj = {
                        ids: ids
                    };
                    $.ajax({
                        'type': 'post',
                        'url': '/Admin/GuestUser/DeleteSubmit',
                        'data': obj,
                        error: function (message) {
                            x_admin_msg("删除失败");
                            console.info(message)
                        },
                        success: function (data) {
                            if (data.status == 200) {
                                x_admin_msg('已删除!', { icon: 1, time: 1000 });
                                table.reload("userTable");
                            } else {
                                x_admin_msg(data.msg);
                            }
                        }
                    });
                }
            }

        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
