<?xml version="1.0"?>
<SysBasicConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <_vipmoney>0</_vipmoney>
  <_vipSummary />
  <webcopyright />
  <staticstatus>0</staticstatus>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>0</logstatus>
  <webstatus>1</webstatus>
  <webclosereason />
  <webcountcode />
  <smsapiurl>http://api.chanzor.com/send</smsapiurl>
  <smsusername>bjjingmi</smsusername>
  <smspassword>100134</smspassword>
  <emailsmtp>smtp.chinagear.cn</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>service@chinagear.cn</emailfrom>
  <emailusername>service@chinagear.cn</emailusername>
  <emailpassword>qs4GxzvgLpCaebuRztuw</emailpassword>
  <emailnickname />
  <emailssl>true</emailssl>
  <filerootpath>wwwroot</filerootpath>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,flv,mp4,apk,mp3,docx,pdf</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>/upload/images/20181113/f62b4hbx2pfxn282p2zb.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>学佳</watermarktext>
  <watermarkfont>微软雅黑</watermarkfont>
  <watermarkfontsize>16</watermarkfontsize>
</SysBasicConfig>